
* {
   font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

section {
    max-width: 100%;
}

#main-logo {
    display: block
}

.span {
    font-weight: lighter;
}

.span1 {
    color: rgb(52, 168, 202);
}

.dropList {
    background-color: #E8EAED;
    color: rgba(13, 14, 14, 0.818);
    text-align: center;
    font-size: 11px;
    margin-bottom: 6px;
}

.dropdown {
    margin-right: 10px;
}

#navBtn:hover,
  #navBtn:focus,
  #navBtn:active {
    border-color: rgba(52, 168, 202, 0.6);
    color: rgb(52, 168, 202);
    background-color: transparent;
  }

#nvL:hover {
    color: #FF7300;;
}

#svgIc {
    fill: rgb(52, 168, 202);
  }

#searchSvg {
    fill: white;
}

.dropdown-item {
    font-size: 14px;
    line-height: 0.2;
    margin-bottom: 6px;
    text-align: left;
}

#navBtn {
    border-color: rgba(52, 168, 202, 0.6);
    color: rgb(52, 168, 202);
}

#navBtn a:hover {
    border-color: rgba(52, 168, 202, 0.6);
}


/* ------------ Starting Area that has Image, searchbar and text ------------ */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.container h1{
    color: rgb(3, 3, 3);
    font-size: 26px;
    font-weight: bold;
}

.stHead {
    text-align: center;
}

.stHead p {
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
}

.stHead h1 {
    color: #B92429;
    font-weight: bolder;
    font-size: 80px;
}
  
.mainStuff {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-content {
    text-align: left;
    padding: 20px;
}

.search-components {
    list-style: none;
    padding: 0;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    color: black;
    font-weight: 200;
    font-size: 15px;
}

.search-components a {
    text-decoration: none;
    color: black;
}

.search-components a:hover {
    background-color: #e8eaeddd;
    color: black;
    border-radius: 6px;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 30px;
    margin-bottom: 5px;
}

#searchPlaceholder {
    width: 430px;
    flex: 1;
    border-radius: 10px;
    height: 70px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchPlaceholder:focus {
    border-color: #000000;
}

#searchBtn {
    width: 70px;
    color: #B92429;
    border-radius: 10px;
    margin-left: -12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-elem {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px; 
    margin: 0; 
    margin-left: 40px;
}

.list-elem {
    opacity: 1;
    border: 1px solid #E8EAED;
    background-color: #E8EAED;
    border-radius: 5px;
    padding: 1px 8px;
    margin: 0 3px;
    font-size: 13px;
    font-weight: 9px;
}

.start-image img {
    max-width: 100%;
    height: auto;
}

/* ------------ Responsiveness for Mobile Screens ------------ */

@media (max-width: 576px) {
    .stHead h1 {
        font-size: 30px;
    }
    
    .stHead p {
        font-size: 16px;
    }
    
    .searchBox {
        max-width: 100%; 
        display: flex;
        align-items: center;
    }

    #rowC {
        flex-direction: column;
    }
    #colSt {
       order: 2
    }

    #colSt1 {
        order: 1;
    }
    
    #searchPlaceholder {
        width: 280px; 
        border-radius: 10px;
        height: 50px;
    }

    #searchBtn {
        display: none;
        width: 60px; 
        color: #B92429;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .search-elem {
        margin-left: 0;
        margin-top: 10px;
        overflow-x: auto; 
    }
    
    .search-components {
        flex-wrap: nowrap; 
        text-decoration: none;
    }
    
    .list-elem {
        font-size: 12px; 
        aspect-ratio: 6/3;
        text-align: center;
    }
}

/* ------------ Middle Area with text and image ------------ */

.MidArea {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 80px 0;
}

#midItem h1 {
    color: black;
    font-size: 40px;
    text-align: left;
    padding: 20px;
    margin: 0;
}

#midItem ul li {
    list-style: none;
    font-size: 18px;
    color: black;
    line-height: 2.2em;
    margin-left: -10px;
}

#midItem ul li::before {
    padding-right: 16px;
    color: #008000;
    text-align: left;
    content: '\2713';
}

.midItemBtn {
    display: flex;
    padding: 13px 20px;
    background-color: #FF7300;
    height: 48px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 650;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 46px;
    margin-left: 22px;
}

.MidArea img {
    max-width: 100%;
}

/* ------------ Responsiveness for Mobile Screens ------------ */

@media (max-width: 768px) {
    #midItem h1 {
        font-size: 30px; 
    }

    #midItem ul li {
        font-size: 16px; 
    }

    .midItemBtn {
        font-size: 14px; 
    }
    
    #midItem img {
        max-width: 100%; 
        height: auto;
        object-fit: cover;
    }
}

/* ------------ 3rd Container ------------ */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 30px 0;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    max-width: 90%;
    gap: 50px;
    margin: 0 auto;
    padding: 0 20px;
}

#card-body {
    background-color:  #F5F7FA;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 30px;
    border: none;
}

#card-body img {
    border-radius: 50%;
}

#svgCard {
    max-width: 10%;
}

.card-text {
    font-size: 20px;
    text-align: left;
    color: #000000;
}

.img-name {
    color: #000000;
    font-size: 18px;
}


@media (max-width: 768px) {
    
        .hero {
            flex-direction: column;
            text-align: center;
        }
    
        .card-container {
            flex-direction: column;
            max-width: 100%;
        }
    
        #card-body {
            width: 100%;
        }
    
        .card-text {
            font-size: 16px;
        }
}
/* ------------ 2 Containers with text, button and image ------------ */

.how-it-works {
    background: linear-gradient(115deg, #F5F7FA, #fafbfc, #ffffffec);
    padding: 30px 0;
    display: flex;
}

.three-Points {
    display: flex;
    justify-content: space-between; 
    margin: 0;
}
.headTxt {
    flex: 1; 
    max-width: 28%; 
    padding: 20px;
    text-align: left;
}

.headTxt h1 {
   color: #B33C00;
   font-weight: 430;
   margin-bottom: 20px;
}

.headTxt p {
    font-weight: 270;
}

@media (max-width: 768px) {
    .three-Points {
        flex-direction: column;
        margin-left: 50px;
    }

    .headTxt {
        margin-bottom: 20px;
    }

    .headTxt h1 {
        font-size: 32px;
        font-weight: 370;
        margin-bottom: 20px;
     }
     
     .headTxt p {
        font-size: 14px;
         font-weight: 270;
     }
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
}

.step1 , .step2 {
    display: flex;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.col-data {
    flex: 1;
    padding: 22px;
}

.col-data-img {
    flex: 1;
}

.col-data-img img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
}

.step1 {
    background-color: #0A0F26;
    color: #fff;
}

.step2 {
    background-color: #5AC0DC;
}

.step h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.step1 .col-data > h1 
{
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #c7cace;
    margin-top: 20px;
}

.step1 .col-data > p
{
    font-size: 48px;
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.3em;
}

.step2 .col-data > h1 
{
    font-size: 36px;
    text-align: left;
    font-weight: 500;
    color: #000000;
}

.step2 .col-data > p
{
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #000000;
    line-height: 1.3em;
    margin-top: 20px;
}


.step1Btn {
    display: flex;
    padding: 13px 20px;
    background-color: #FF7300;
    height: 48px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 650;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 46px;
}

.step2Btn {
    display: flex;
    padding: 13px 20px;
    background-color: #FFFFFF;
    color: #34A8D4;
    height: 48px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

/* ------------ Responsiveness for Mobile Screens ------------ */

@media (max-width: 768px) {
    .step2, .step1 {
        flex-direction: column;
    }

    .col-data {
        padding: 20px 0;
        order:2;
    }

    .col-data-img {
        order: 1;
    }

    .col-data-img img {
        max-width: 100%; 
        height: auto;
        object-fit: cover;
    }

    .step1 .col-data > h1 {
        font-size: 20px; 
        text-align: center; 
        margin-bottom: 20px;
    }

    .step1 .col-data > p {
        font-size: 34px;
        text-align: center;
        margin-bottom: 30px; 
    }

    .step2 .col-data > h1 
    {
        font-size: 30px;
        text-align: center;
        color: #000000;
    }

    .step2 .col-data > p
    {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .step1Btn , .step2Btn {
        margin: auto;
    }
}



/* Footer Styles */

footer {
    background-color: #18202B;
    color: #fff;
    padding: 30px 0;
}

#footerLogo {
    max-width: 18%;
}

.Align-Footer {
    display: flex;
    flex-wrap: wrap;
}

.footerList {
    flex: 1;
    margin-top: 30px;
}

.footerList h1 {
    text-align: left;
    font-size: 18px;
    color: white;
    font-weight: 350;
    margin-bottom: 20px;
}

.footerList .footer-List-Elements {
    list-style: none;
    text-align: left;
    font-size: 13px;
    font-weight: 350;
    margin-left: -30px;
    line-height: 2.3em;
    transition: color 0.1992s linear 0s;
}


#lastElem {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 350;
    list-style: none;
    display: flex;
    gap: 30px;
    color: #ABB2C4;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
}

footer a {
    color: #ABB2C4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

/* Mobile Responsiveness */

@media (max-width: 768px) {
    .Align-Footer {
        display: block;
    }
}


/* ------------  Logos  ------------ */

#logos img {
    width: 12%;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#logos img:first-child {
    margin-left: 15px; 
}

#logos img:last-child {
    margin-right: 0; 
}

#cnbc{
    mix-blend-mode: color-burn;
}

/* ------------ Responsiveness for Mobile Screens ------------ */

@media (max-width: 768px) {
    #logos img {
        width: 36%;
        margin-right: 4%;
        margin-left: 4%;
        margin-bottom: 0;
        margin-top: 0;
    }

    #logos img:nth-child(2), #logos img:nth-child(4) {
        width: 22%; 
        margin-right: 4%;
        margin-left: 4%;
    }

    #logos img:nth-child(3), #logos img:nth-child(5) {
        width: 22%; 
        margin-right: 5%;
        margin-left: 5%;
    }

    #logos img:first-child {
        width: 30%; 
        margin-left: 50px;
    }

    #logos img:last-child {
        width: 50%; 
        margin-left: 80px;
    }
}