body {
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #0056b3;
}

.fieldStyle{
    width: 800px;
    border-radius: 15px;
    border-color: #0056b3;
    margin-bottom: 20px;
}

.fieldStyle legend{
    font-size: medium;
    font-weight: bold;
    color: #0056b3;
}

.formStyle {
    margin-bottom: 15px;
    margin-top: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-left: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
    width: 90%;
    padding: 10px;
    border: 1px solid #8a8787;
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 6px;
}

button {
    padding: 10px 20px;
    background-color:#0056b3;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 150px;
}

.formStyleBtn
{
    margin-top: 20px;
}

/* #viewTableBtn {
    float: right;
} */


button:hover {
    background-color: #d11406;
    left: 61.5%;
    width: 200px;
}

#applicationsTable {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1.5px solid #121111;
    padding: 8px;
    text-align: left;
    color: white;
}

th {
    border: 2px solid #fff;
    background-color: #000000;
}

tr:nth-child(even) {
    background-color: #0056b3;
}

tr:hover {
    background-color: #d11406;
}

::-webkit-scrollbar {
    background-color: black;
    width: 7px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(105deg, #393688, #28408cec, #e44814ec, #464dae);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(transparent, #0c57c6);
}

#applicationsTable {
    margin-left: -320px;
}
